@model List<VehicleManager.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "Index";
}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Rentals <i class="ion-ios-arrow-forward"></i></span> <span>Index</span></p>
                    <a asp-action="Create">Create New</a>
                
                <h2>This weeks rentals</h2>
                <form method="post" action="@Url.Action("Index")">


                <table class="table border border-grey">
                    <thead>
                        <tr>
                            <th>Pick Up Date</th>
                            <th>Plate Number</th>
                            <th>Full Name</th>
                            <th>Ready for Pick Up</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var rental in Model)
                            {
                                @if (rental.PickUpDate >= DateTime.Now && rental.PickUpDate <= DateTime.Now.AddDays(7))
                                {
                                    <tr class="@((rental.ReadyForPickUp) ? "ready-for-pickup" : "")">
                                        <td>@Html.DisplayFor(m => rental.PickUpDate)</td>
                                        <td>@Html.DisplayFor(m => rental.PlateNumber)</td>
                                        <td>@Html.DisplayFor(m => rental.FullName)</td>
                                        <td>
                                            <input type="checkbox" name="readyForPickUp" value="@rental.Id" @(rental.ReadyForPickUp ? "checked" : "") @(rental.ReadyForPickUp ? "disabled" : "") data-rental-id="@rental.Id" />
                                        </td>
                                    </tr>
                                }
                            }


                    </tbody>
                    </table>
                    <button type="submit">Save</button>
                </form>
                <br />
                <br />

                    <h2>All Bookings</h2>
                <table id="rentaltable" class="display cell-border text-dark" style="width:100%">
                        <thead>
                            <tr>
                                <th>Rental ID</th>
                                <th>Car ID</th>
                                <th>Full Name</th>
                                <th>Pick Up Date</th>
                                <th>Return Date</th>
                                <th>Booking Made</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rental in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(r => rental.Id)</td>
                                    <td>@Html.DisplayFor(r => rental.CarId)</td>
                                    <td>@Html.DisplayFor(r => rental.FullName)</td>
                                    <td>@Html.DisplayFor(r => rental.PickUpDate)</td>
                                    <td>@Html.DisplayFor(r => rental.ReturnDate)</td>
                                    <td>@Html.DisplayFor(r => rental.BookingMade)</td>
                                    <td>$@Html.DisplayFor(r => rental.TotalPrice)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@rental.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil text-black-50" viewBox="0 0 16 16" style="margin:3px;">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@rental.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 text-black-50" viewBox="0 0 16 16" style="margin:3px;">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                    </a>
                                </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</section>

@section scripts {
    <script class="form-control">
        $(document).ready(function () {
            $.fn.dataTable.ext.classes.sPageButton = 'button primary_button';
            var table = $('#rentaltable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },
                language: {
                    oPaginate: {
                        sNext: '>',
                        sPrevious: '<',
                        sFirst: '<<',
                        sLast: '>>'
                    }
                },
                responsive: true
            });
            $('#rentaltable_paginate ul:first').removeClass('pagination');
        });

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.3.2/js/dataTables.rowReorder.min.js"></script>

        }