@model List<VehicleManager.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "Index";
}
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Rentals <i class="ion-ios-arrow-forward"></i></span> <span>Index</span></p>
                    <a asp-action="Create">Create New</a>
                </p>
                <h2>This weeks rentals</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Pick Up Date</th>
                            <th>Plate Number</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rental in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => rental.PickUpDate)</td>
                                <td>@Html.DisplayFor(m => rental.PlateNumber)</td>
                                <td>@Html.DisplayFor(m => rental.FullName)</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                
                    <h2>All Bookings</h2>

                <table id="rentaltable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rental ID</th>
                                <th>Car ID</th>
                                <th>Customer ID</th>
                                <th>Pick Up Date</th>
                                <th>Return Date</th>
                                <th>Booking Made</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rental in Model[0].AllRentals)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(r => rental.RentalId)</td>
                                    <td>@Html.DisplayFor(r => rental.CarId)</td>
                                    <td>@Html.DisplayFor(r => rental.CustomerId)</td>
                                    <td>@Html.DisplayFor(r => rental.PickUpDate)</td>
                                    <td>@Html.DisplayFor(r => rental.ReturnDate)</td>
                                    <td>@Html.DisplayFor(r => rental.BookingMade)</td>
                                    <td>@Html.DisplayFor(r => rental.TotalPrice)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@rental.RentalId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@rental.RentalId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@rental.RentalId">Delete</a>
                                </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#rentaltable').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.header()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
        
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>


        }