@model List<VehicleManager.ViewModels.RentalViewModel>

<h2>For PickUp</h2>

<!-- Display the list of Rentals for PickUp -->
<table class="table">
    <thead>
        <tr>
            <th>Pick Up Date</th>
            <th>Plate Number</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>@rental.PickUpDate</td>
                <td>@rental.PlateNumber</td>
                <td>@rental.FullName</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h2>All Rentals</h2>

<!-- Display the list of Rentals -->
<table class="table">
    <thead>
        <tr>
            <th>Rental ID</th>
            <th>Car ID</th>
            <th>Customer ID</th>
            <th>Pick Up Date</th>
            <th>Return Date</th>
            <th>Booking Made</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in ViewBag.Rentals)
        {
            <tr>
                <td>@rental.RentalId</td>
                <td>@rental.CarId</td>
                <td>@rental.CustomerId</td>
                <td>@rental.PickUpDate</td>
                <td>@rental.ReturnDate</td>
                <td>@rental.BookingMade</td>
                <td>@rental.TotalPrice</td>
            </tr>
        }
    </tbody>
</table>