@model List<VehicleManager.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "Index";
}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Rentals <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Rentals Index</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h1>Index</h1>

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <h2>This weeks rentals</h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Pick Up Date</th>
                            <th>Plate Number</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rental in Model)
                        {
                            <tr>
                                <td>@rental.PickUpDate</td>
                                <td>@rental.PlateNumber</td>
                                <td>@rental.FullName</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                    <h2>All Bookings</h2>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rental ID</th>
                                <th>Car ID</th>
                                <th>Customer ID</th>
                                <th>Pick Up Date</th>
                                <th>Return Date</th>
                                <th>Booking Made</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rental in ViewBag.Rentals)
                            {
                                <tr>
                                    <td>@rental.RentalId</td>
                                    <td>@rental.CarId</td>
                                    <td>@rental.CustomerId</td>
                                    <td>@rental.PickUpDate</td>
                                    <td>@rental.ReturnDate</td>
                                    <td>@rental.BookingMade</td>
                                    <td>@rental.TotalPrice</td>

                                    <td>
                                    <a asp-action="Edit" asp-route-id="@rental.RentalId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@rental.RentalId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@rental.RentalId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</section>